:root {
    /* Font */
    --principalFont: 'Rubik Bubbles', cursive;
    --title: #1E82D9;
    --white: #FFFFFF;

    /* Color Palette */
    --gridBackground: #73BCD9;
    --indicatorBackground: #30D9BA;
    --playButton: #1E82D9;
    --directionButton: #8973D9;
    --resetButton: #F27ECA;
}

/** Globales **/
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: var(--principalFont);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p {
    margin: 0;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
}

.heading {
    font-size: 3.2rem;
    letter-spacing: .5rem;
    color: var(--title);
    text-transform: uppercase;
    text-align: center;
}

.indicator {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--indicatorBackground);
    padding: 2rem;
}

@media (min-width: 768px) { 
    .indicator {
        max-width: 60%;
    }
}

@media (min-width: 1024px) { 
    .indicator {
        max-width: 65%;
    }
}

@media (min-width: 1440px) { 
    .indicator {
        max-width: 50%;
    }
}

.indicator__score,
.indicator__line {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin: 0;
    font-size: 2rem;
    color: var(--white);
}

.indicator__value {
    font-size: 2.6rem;
}

@media (min-width: 1024px) { 
    .contenido-principal {
        display: grid;
        grid-template-columns: 62% 38%;
        gap: 5rem;
    }
}

.grid {
    margin-top: 2rem;
    background-color: var(--gridBackground);
}

button {
    width: 4rem;
    height: 4rem;
    font-family: var(--principalFont);
    background-color: #47a386;
    border: 0;
    margin-bottom: auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #fff;
}

button:last-of-type {
    width: 7rem;
}

.buttons {
    max-width: 120rem;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    gap: 1.5rem; 
}

[class*="buttons__"] {
    border: none;
    border-radius: .5rem;
    box-shadow: 2px 2px 5px -2px rgba(233,233,233,1);
}

.icon {
    width: 2.5rem;
    height: 2.5rem;
    filter: invert(100%);
}

.buttons__direction .icon {
    width: 3rem;
    height: 3rem;
}

.buttons__play {
    background-color: var(--playButton);
}

.buttons__direction {
    background-color: var(--directionButton);
}

.buttons__reset {
    background-color: var(--resetButton);
    color: var(--white);
    font-size: 1.2rem;
    text-align: center;
}

.ventana-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin-top: 3rem;
}

@media (min-width: 1024px) { 
    .ventana-modal {
        flex-direction: column;
    }
}

button {
    background-color: #47a386;
    border: 0;
    margin-bottom: auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #fff;
}

.modal-container {
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;  
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: opacity 0.3s ease;
}

.show {
    pointer-events: auto;
    opacity: 1;
}

.modal {
    background-color: #fff;
    width: 400px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.modal h1 {
    margin: 0;
}

.modal ul{
    opacity: 0.7;
    font-size: 9px;
    list-style: none;
}

.modal li{
    text-align: left;
    font-family: 'Sans, serif';
}

.modal strong{

    font-size: 12px;
}

.show {
    pointer-events: auto;
    opacity: 1;
}

.footer {
    width: 100%;
    margin-top: 3rem;
    padding: 2rem;
    background-color: var(--playButton);
    text-align: center;
    color: var(--white);
    font-size: 1.6rem;
    line-height: 1.5;
    position: fixed;
    bottom: 0;
}